@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  height: 100vh;
  color: rgb(54, 54, 54);
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

td {
  width: 110px;
  height: 110px;
}

table {
  margin: 5px auto;
  position: absolute;
  left: 50%;
  top: 12rem;
  border-radius: 9px;
  transform: translateX(-50%);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.603);
}

p {
  font-size: 1.8rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.vert {
  border-left: 2px solid #444;
  border-right: 2px solid #444;
}

.hori {
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
}

.icon1 {
  width: 20%;
  align-self: flex-start;
  margin-top: 35%;
}

.icon2 {
  width: 20%;
  align-self: flex-end;
  margin-top: 35%;
}

.player {
  flex: 50%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.name {
  position: relative;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  color: rgb(110, 57, 126);
}

.score {
  font-size: 5rem;
  font-weight: 300;
  color: rgb(202, 49, 49);
  margin-top: 1rem;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.541);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 85%;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
